<div class="container">

  <h1>{{ sds.othersLabel }}</h1>

  <button class="mat-flat-button" (click)="refreshOthers()">Refresh Other Animals</button>
  <br><br>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Birthdate</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of others">
      <td>{{ i.Name }}</td>
      <td>{{ i.Type }}</td>
      <td>{{ i.Birthdate }}</td>
      <td>{{ i.CurrentAge }}</td>
    </tr>
    </tbody>
  </table>
</div>

