
<div class="container">

  <div class="link">
    <a routerLink="/dogs"><img class="animalIcon" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF
0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIF
ZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQ
y8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9E
VEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR
0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy
8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDQ0MS4yMyA0NDEuM
jMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ0MS4yMyA0NDEuMjM7IiB4bWw6
c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik00NDAuNjUxLDEzMi43MzljLTAuODg4LTIuMzU
0LTIuNzIxLTQuMjI5LTUuMDU0LTUuMTcxTDM5Ni4zOSwxMTEuNzVjLTIuNDM1LTEyLjY2Ni0xMi
4wNTYtMjIuODEtMjQuNDM2LTI2LjAwOA0KCWwtMi4xMTUtMjQuMzYzYy0wLjMwOS0zLjU2NS0yL
jcwMS02LjYwOC02LjA5My03Ljc1MWMtMy4zOTEtMS4xNDItNy4xMzctMC4xNjctOS41NDEsMi40
ODRsLTEwLjA2MiwxMS4wOTlsLTYuMjItMjEuNzY2DQoJYy0xLjA3Mi0zLjc1Mi00LjQ0LTYuMzg
2LTguMzQxLTYuNTIxYy0zLjkyNC0wLjEzOS03LjQ0NCwyLjI1OC04Ljc3Myw1LjkyOEwyNzQuMz
QsMTczLjA0N2MwLDAtMTcyLjEyNyw4LjAzNS0xNzIuMTk5LDguMDM5DQoJYy0zNS4yOTYsMi4xM
jEtNjguNzM1LTE2Ljc2NS04NS4xNjctNDguMTE5Yy0yLjMwOS00LjQwMi03Ljc0OC02LjEwMi0x
Mi4xNDktMy43OTRjLTQuNDAzLDIuMzA4LTYuMTAxLDcuNzQ3LTMuNzk0LDEyLjE0OQ0KCWMxNC4
2OSwyOC4wMyw0MC43MDgsNDcuNzUsNzAuNTQxLDU0LjkzYy0zLjA5NywzLjYwOS05Ljc1MSwxMi
41NTQtMTMuNjQyLDI2LjYxN2MtNC4yMzEsMTUuMjkxLTUuNzU2LDM5LjY2Nyw5LjgwMSw3MC42M
TkNCglMNDIuNDk5LDMyNy43NmMtMS40NzQsMi4wMDEtMi4wNTQsNC41MjMtMS42MDMsNi45Njhs
MTEuMTA1LDYwLjIxOGMwLjc4Nyw0LjI2OCw0LjUxLDcuMzY3LDguODUxLDcuMzY3aDExLjMxMg0
KCWMyLjY2OSwwLDUuMi0xLjE4NSw2LjkxMS0zLjIzM2MxLjcxLTIuMDUsMi40MjItNC43NTMsMS
45NDQtNy4zNzhsLTcuMDMyLTM4LjYyN2w3NC40MDEtNTUuODUzYzAuMTMxLTAuMDk5LTAuMTI2L
DAuMTA3LDAsMA0KCWM3LjExNC01Ljk3NSwxMi4yNzgtMTIuNTU2LDE1Ljk3Mi0xOS4zMjJjMzgu
Nzc3LDYuODA4LDkxLjg0NCwxNi4wMiwxMjUuODU3LDIxLjQ5OGwxNC45ODYsOTUuMzE0DQoJYzA
uNjg5LDQuMzc3LDQuNDYsNy42MDIsOC44OTEsNy42MDJoOS4zMDhjNC45NzEsMCw5LTQuMDI5LD
ktOVYyOTYuNTZjOC40NDktNS43NywxMS40NjktMTUuNDIsMTMuNDcyLTI0Ljg3MQ0KCWMwLjA2M
y0wLjI5NywyMC4wMjItOTIuNDE2LDIwLjAyMi05Mi40MTZjMy43NjIsMC42MjcsNy41NjEsMC45
NTYsMTEuMzg4LDAuOTU2YzI2LjM1NiwwLDUwLjQ5Mi0xNS40MzEsNjIuOTg3LTQwLjI3MQ0KCUM
0NDEuNDAxLDEzNy43MTIsNDQxLjUzOSwxMzUuMDk0LDQ0MC42NTEsMTMyLjczOXoiLz4NCjxnPg
0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NC
jwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8
L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0
K">{{ sds.dogsLabel }}</a>
  </div>

  <div class="link">
    <a routerLink="/cats"><img class="animalIcon" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjw
hLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPg
o8c3ZnIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwO
i8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4wIiB3aWR0aD0iNDAwIiBoZWlnaHQ9
IjM4MCIgaWQ9InN2ZzIiPgogIDxkZWZzIGlkPSJkZWZzNSIvPgogIDxwYXRoIGQ9Ik0gMTUxLjM
0OTA0LDMwNy4yMDQ1NSBMIDI2NC4zNDkwNCwzMDcuMjA0NTUgQyAyNjQuMzQ5MDQsMjkxLjE0MD
k2IDI2My4yMDIxLDI4Ny45NTQ1NSAyMzYuNTk5MDQsMjg3Ljk1NDU1IEMgMjQwLjg0OTA0LDI3N
S4yMDQ1NSAyNTguMTI0MjQsMjQ0LjM1ODA4IDI2Ny43MjQwNCwyNDQuMzU4MDggQyAyNzYuMjE3
MDcsMjQ0LjM1ODA4IDI4Ni4zNDkwNCwyNDQuODI1OTIgMjg2LjM0OTA0LDI2NC4yMDQ1NSBDIDI
4Ni4zNDkwNCwyODYuMjA0NTUgMzIzLjM3MTcxLDMyMS42NzU0NyAzMzIuMzQ5MDQsMzA3LjIwND
U1IEMgMzQ1LjcyNzY5LDI4NS42Mzg5NyAzMDkuMzQ5MDQsMjkyLjIxNTE0IDMwOS4zNDkwNCwyN
DAuMjA0NTUgQyAzMDkuMzQ5MDQsMTY5LjA1MTM1IDM1MC44NzQxNywxNzkuMTgwNzEgMzUwLjg3
NDE3LDEzOS4yMDQ1NSBDIDM1MC44NzQxNywxMTkuMjA0NTUgMzQ1LjM0OTA0LDExNi41MDM3NCA
zNDUuMzQ5MDQsMTAyLjIwNDU1IEMgMzQ1LjM0OTA0LDgzLjMwNjk1IDM2MS45OTcxNyw4NC40MD
M1NzcgMzU4Ljc1ODA1LDY4LjczNDg3OSBDIDM1Ni41MjA2MSw1Ny45MTE2NTYgMzU0Ljc2OTYyL
DQ5LjIzMTk5IDM1My40NjUxNiwzNi4xNDM4ODkgQyAzNTIuNTM5NTksMjYuODU3MzA1IDM1Mi4y
NDQ1MiwxNi45NTkzOTggMzQyLjU5ODU1LDE3LjM1NzM4MiBDIDMzMS4yNjUwNSwxNy44MjQ5OTI
gMzI2Ljk2NTQ5LDM3Ljc3NDE5IDMwOS4zNDkwNCwzOS4yMDQ1NDkgQyAyOTEuNzY4NTEsNDAuNj
MxOTkxIDI3Ni43NzgzNCwyNC4yMzgwMjggMjY5Ljk3NDA0LDI2LjU3OTU0OSBDIDI2My4yMjcwO
SwyOC45MDEzMzQgMjY1LjM0OTA0LDQ3LjIwNDU0OSAyNjkuMzQ5MDQsNjAuMjA0NTQ5IEMgMjc1
LjYzNTg4LDgwLjYzNjc3MSAyODkuMzQ5MDQsMTA3LjIwNDU1IDI2NC4zNDkwNCwxMTEuMjA0NTU
gQyAyMzkuMzQ5MDQsMTE1LjIwNDU1IDE5Ni4zNDkwNCwxMTkuMjA0NTUgMTY1LjM0OTA0LDE2MC
4yMDQ1NSBDIDEzNC4zNDkwNCwyMDEuMjA0NTUgMTM1LjQ5MzQyLDI0OS4zMjEyIDEyMy4zNDkwN
CwyNjQuMjA0NTUgQyA4Mi41OTA2OTYsMzE0LjE1NTI5IDQwLjgyMzkxOSwyOTMuNjQ2MjUgNDAu
ODIzOTE5LDMzNS4yMDQ1NSBDIDQwLjgyMzkxOSwzNTMuODEwMTkgNzIuMzQ5MDQ1LDM2Ny4yMDQ
1NSA3Ny4zNDkwNDUsMzYxLjIwNDU1IEMgODIuMzQ5MDQ1LDM1NS4yMDQ1NSAzNC44NjM3NjQsMz
M3LjMyNTg3IDg3Ljk5NTQ5MiwzMTYuMjA0NTUgQyAxMzMuMzg3MTEsMjk4LjE2MDE0IDEzNy40M
zkxNCwyOTQuNDc2NjMgMTUxLjM0OTA0LDMwNy4yMDQ1NSB6ICIgc3R5bGU9ImZpbGw6YmxhY2s7
ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHR
oOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3
BhY2l0eToxIiBpZD0icGF0aDE4OTEiLz4KPC9zdmc+">{{ sds.catsLabel }}</a>
  </div>

  <div class="link">
    <a routerLink="/others"><img class="animalIcon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h
0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGN4PSI0LjUiIGN5PSI5LjUiIHI9Ij
IuNSIvPjxjaXJjbGUgY3g9IjkiIGN5PSI1LjUiIHI9IjIuNSIvPjxjaXJjbGUgY3g9IjE1IiBje
T0iNS41IiByPSIyLjUiLz48Y2lyY2xlIGN4PSIxOS41IiBjeT0iOS41IiByPSIyLjUiLz48cGF0
aCBkPSJNMTcuMzQgMTQuODZjLS44Ny0xLjAyLTEuNi0xLjg5LTIuNDgtMi45MS0uNDYtLjU0LTE
uMDUtMS4wOC0xLjc1LTEuMzItLjExLS4wNC0uMjItLjA3LS4zMy0uMDktLjI1LS4wNC0uNTItLj
A0LS43OC0uMDRzLS41MyAwLS43OS4wNWMtLjExLjAyLS4yMi4wNS0uMzMuMDktLjcuMjQtMS4yO
C43OC0xLjc1IDEuMzItLjg3IDEuMDItMS42IDEuODktMi40OCAyLjkxLTEuMzEgMS4zMS0yLjky
IDIuNzYtMi42MiA0Ljc5LjI5IDEuMDIgMS4wMiAyLjAzIDIuMzMgMi4zMi43My4xNSAzLjA2LS4
0NCA1LjU0LS40NGguMThjMi40OCAwIDQuODEuNTggNS41NC40NCAxLjMxLS4yOSAyLjA0LTEuMz
EgMi4zMy0yLjMyLjMxLTIuMDQtMS4zLTMuNDktMi42MS00Ljh6Ii8+PC9zdmc+">{{ sds.othersLabel }}</a>
   </div>

  <button class="mat-stroked-button" (click)="refreshAll()">Refresh All</button>

  <br><br>
  <div class="link">
    <a routerLink="/about">About</a>
  </div>

</div>

