<div class="container">

  <h1>About</h1>

  <p>A sample Angular application built to demonstrate how to read data from a Google Sheet. Since the sheet is just JSON data, this example of course would work using any JSON data source.</p>

  <p>This is a PWA, so if you add to home screen (A2HS) when prompted and use that icon, it will open in a standalone window.</p>

  <p>Steal any part that may be helpful to you.</p>

  <p><a target="_blank" href="https://ng-chicago.github.io/2018/05/24/google-sheets-as-a-json-data-source/">How to get JSON from a Google Sheets tab</a></p>

  <p><a target="_blank" href="https://github.com/ng-chicago/MyPets">Source code for this application</a></p>

</div>
