<div class="container">
  <h1><img class="animalIcon" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF
0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIF
ZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQ
y8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9E
VEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR
0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy
8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDQ0MS4yMyA0NDEuM
jMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ0MS4yMyA0NDEuMjM7IiB4bWw6
c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik00NDAuNjUxLDEzMi43MzljLTAuODg4LTIuMzU
0LTIuNzIxLTQuMjI5LTUuMDU0LTUuMTcxTDM5Ni4zOSwxMTEuNzVjLTIuNDM1LTEyLjY2Ni0xMi
4wNTYtMjIuODEtMjQuNDM2LTI2LjAwOA0KCWwtMi4xMTUtMjQuMzYzYy0wLjMwOS0zLjU2NS0yL
jcwMS02LjYwOC02LjA5My03Ljc1MWMtMy4zOTEtMS4xNDItNy4xMzctMC4xNjctOS41NDEsMi40
ODRsLTEwLjA2MiwxMS4wOTlsLTYuMjItMjEuNzY2DQoJYy0xLjA3Mi0zLjc1Mi00LjQ0LTYuMzg
2LTguMzQxLTYuNTIxYy0zLjkyNC0wLjEzOS03LjQ0NCwyLjI1OC04Ljc3Myw1LjkyOEwyNzQuMz
QsMTczLjA0N2MwLDAtMTcyLjEyNyw4LjAzNS0xNzIuMTk5LDguMDM5DQoJYy0zNS4yOTYsMi4xM
jEtNjguNzM1LTE2Ljc2NS04NS4xNjctNDguMTE5Yy0yLjMwOS00LjQwMi03Ljc0OC02LjEwMi0x
Mi4xNDktMy43OTRjLTQuNDAzLDIuMzA4LTYuMTAxLDcuNzQ3LTMuNzk0LDEyLjE0OQ0KCWMxNC4
2OSwyOC4wMyw0MC43MDgsNDcuNzUsNzAuNTQxLDU0LjkzYy0zLjA5NywzLjYwOS05Ljc1MSwxMi
41NTQtMTMuNjQyLDI2LjYxN2MtNC4yMzEsMTUuMjkxLTUuNzU2LDM5LjY2Nyw5LjgwMSw3MC42M
TkNCglMNDIuNDk5LDMyNy43NmMtMS40NzQsMi4wMDEtMi4wNTQsNC41MjMtMS42MDMsNi45Njhs
MTEuMTA1LDYwLjIxOGMwLjc4Nyw0LjI2OCw0LjUxLDcuMzY3LDguODUxLDcuMzY3aDExLjMxMg0
KCWMyLjY2OSwwLDUuMi0xLjE4NSw2LjkxMS0zLjIzM2MxLjcxLTIuMDUsMi40MjItNC43NTMsMS
45NDQtNy4zNzhsLTcuMDMyLTM4LjYyN2w3NC40MDEtNTUuODUzYzAuMTMxLTAuMDk5LTAuMTI2L
DAuMTA3LDAsMA0KCWM3LjExNC01Ljk3NSwxMi4yNzgtMTIuNTU2LDE1Ljk3Mi0xOS4zMjJjMzgu
Nzc3LDYuODA4LDkxLjg0NCwxNi4wMiwxMjUuODU3LDIxLjQ5OGwxNC45ODYsOTUuMzE0DQoJYzA
uNjg5LDQuMzc3LDQuNDYsNy42MDIsOC44OTEsNy42MDJoOS4zMDhjNC45NzEsMCw5LTQuMDI5LD
ktOVYyOTYuNTZjOC40NDktNS43NywxMS40NjktMTUuNDIsMTMuNDcyLTI0Ljg3MQ0KCWMwLjA2M
y0wLjI5NywyMC4wMjItOTIuNDE2LDIwLjAyMi05Mi40MTZjMy43NjIsMC42MjcsNy41NjEsMC45
NTYsMTEuMzg4LDAuOTU2YzI2LjM1NiwwLDUwLjQ5Mi0xNS40MzEsNjIuOTg3LTQwLjI3MQ0KCUM
0NDEuNDAxLDEzNy43MTIsNDQxLjUzOSwxMzUuMDk0LDQ0MC42NTEsMTMyLjczOXoiLz4NCjxnPg
0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NC
jwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8
L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0
K">{{ sds.dogsLabel }}</h1>
  <button class="mat-stroked-button" (click)="refreshDogs()">Refresh Dogs</button>
  <br>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Rows">
  </mat-form-field>
  <table mat-table [dataSource]="dogs" class="mat-elevation-z8"
         matSort matSortActive="created"
         matSortDisableClear
         matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let record"> {{record.Name}} </td>
    </ng-container>
    <!-- Breed Column -->
    <ng-container matColumnDef="Breed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Breed</th>
      <td mat-cell *matCellDef="let record"> {{record.Breed}} </td>
    </ng-container>
    <!-- Birthdate Column -->
    <ng-container matColumnDef="Birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthdate</th>
      <td mat-cell *matCellDef="let record"> {{record.Birthdate}} </td>
    </ng-container>
    <!-- Age Column -->
    <ng-container matColumnDef="CurrentAge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
      <td mat-cell *matCellDef="let record"> {{record.CurrentAge}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
