<div class="container">

  <h1><span *ngIf="sds.allOthersCount != 0">{{ sds.allOthersCount }} </span>Other Animal<span *ngIf="sds.allOthersCount > 1">s</span></h1>

  <button (click)="refreshAllOthers()">Refresh Only All Others Animals Data</button>
  <br><br>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Birthdate</th>
      <th>Current Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of allOthers">
      <td>{{ i.Name }}</td>
      <td>{{ i.Type }}</td>
      <td>{{ i.Birthdate }}</td>
      <td>{{ i.CurrentAge }}</td>
    </tr>
    </tbody>
  </table>
</div>

