<div><a class="nav-link" routerLink="/">Home</a></div>
<h1 class="pageHead">All Other Animals</h1>
<button class="btn btn-warning  btn-refreshData" (click)="refreshAllOthers()">Refresh Only All Others Animals Data</button>
<br><br>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Birthdate</th>
    <th>Current Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of allOthers">
    <td>{{ i.Name }}</td>
    <td>{{ i.Type }}</td>
    <td>{{ i.Birthdate }}</td>
    <td>{{ i.CurrentAge }}</td>
  </tr>
  </tbody>
</table>
